body {
    background-color: #dfe4ea;
    width: 1024px;
    height: 970px;
    margin-left: auto;
    margin-right: auto;
}

#seccion {
    background-color: white;
    height: 540px;
    border: 2px dotted black;
    margin-top: 10px;
}

#principal h1 {
    color: black;
    text-align: center;
    font-size: 23px;
}

#principal p {
    color: black;
    text-align: center;
}

#principal img {
    width: 900px;
    margin-left: 60px;
}

#titulo2 {
    bottom: 85px!important;
}

#seccionesPaginas {
    margin-top: 115px!important;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
}

@font-face {
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/irishgrover/v12/buExpoi6YtLz2QW7LA4flVgv__RP.woff2) format('woff2');
}


/*Responsive*/

@media all and (min-width:600px) and (max-width: 1023px) {}


/* Media para Iphones 6/7/8  */

@media all and (min-width:375px) and (max-width: 667px) {}